body {
  font-family: sans-serif;
  height: 100%;

}

input#project {
  font-weight: bold;
  text-align: center;
}

input#line {
  margin: 0 1em;
  width: 80%;
  font-size: x-large;
}

ul#phrases {
  list-style-type:none;
}

ul#phrases li {
}

ul#phrases li:odd {
  background: #ccf;
}

aside#sidebar { 
  background: #cce;
  float:right;
  width: 150px;
  margin: 0;
  overflow:auto;
}
