body {
  margin: 0;
  font-family: sans-serif;
}

nav  { 
  margin: .5em 0;
  display:block;
}

nav ul   {
  display:inline;
}
nav ul  li  {
  text-align:right;
  display:inline;
  background: white;
  list-style-type:none;
}
nav ul  li a  { 
  text-decoration: none;
  color: green;
  padding: 1em;
}

nav ul  li a:hover  { 
  border-bottom: 1px solid blue;
}

input#project {
  font-weight: bold;
  text-align: center;
}

input#line {
  margin: 0 1em;
  width: 80%;
  font-size: x-large;
}

ul#phrases {
  list-style-type:none;
}

ul#phrases li {
}

ul#phrases li:odd {
  background: #ccf;
}
