body { 
  font-family: 'Aboriginal Sans', Verdana,sans-serif;
  margin: 0;
  background-color: #fefefe;
}

header { 
  background-color: #ADC0B4;
  border-bottom: 2px solid #9cb0a3;
  width: 100%;
  overflow:auto;
  display:block;
  margin: 0;
}

#line { 
  width: 80%;
  margin: 5px;
  font-size: large;
}

#phrases { 
  border: 1px solid #BEDCE7;
  margin: 0;
  overflow: hidden;
  padding: 1em;
  width: 60%;
}

#phrases li.phrase { 
  margin: 0;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
  padding:  1em 0;
}

li {
  list-style-type: none;
}

dl.tier { 
  float:left;
  font-size: small;
}

.tier dt { 
  display:inline;  
}

ol.sentence { 
  padding: 0;
}

ol.sentence li { 
  margin:0;
  padding:0;
}
dl.tier dd { 
  margin-left: 0;
  padding-left: 0;
}

